#%RAML 1.0
---

title: Organisations Matching
version: 1.0
protocols: [ HTTPS ]
baseUri: https://api.service.hmrc.gov.uk/

documentation:
 - title: Overview
   content: !include docs/overview.md
 - title: Versioning
   content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/versioning.md
 - title: Errors
   content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/errors.md

mediaType: [ application/json, application/hal+json ]

uses:
  sec: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/securitySchemes.raml
  headers: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/headers.raml
  annotations: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/annotations.raml
  types: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/types.raml

/organisations:
  /matching/company:
    /:
      post:
        displayName: Submit an Organisation Matching Request For a Company
        description: This endpoint takes a JSON body that contains a Company's CRN and Known Facts in order to match against HMRC's records. Upon a successful match, a matchId is returned which can be used in subsequent calls.
        is: [headers.acceptHeader, headers.contentHeader]
        (annotations.scope): "read:organisations-matching"
        securedBy: [ sec.oauth_2_0: { scopes: [ "read:organisations-matching" ] } ]
        headers:
          Authorization:
            description: OAuth 2.0 Bearer Token with the read:individuals-matching scope.
            type: string
            required: true
            example: Bearer <BEARER_TOKEN>
          Content-Type:
            description: Specifies the content-type of the body.
            type: string
            required: true
            example: application/json
        body:
          application/json:
            type: !include schemas/company-matching-request.json
            example: !include examples/company-matching-request-example.json
        responses:
          200:
            description: The available resources to retrieve the matched organisation's details
            body:
              application/json:
                type: !include schemas/company-matching-response.json
                example: !include examples/company-matching-response-example.json
          400:
            body:
              application/json:
                type: types.errorResponse
                examples:
                  BadRequest:
                    description: The request body does not conform to the schema
                    value:
                      code: BAD_REQUEST
          403:
            body:
              application/json:
                type: types.errorResponse
                examples:
                  Forbidden:
                    description: The organisation's details provided did not match with HMRC's records
                    value:
                      code: MATCHING_FAILED
    /{matchId}:
      uriParameters:
        matchId:
          description: A short-lived UUID, typically valid for several hours
          type: string
          example: 57072660-1df9-4aeb-b4ea-cd2d7f96e430
      get:
        displayName: Retrieve matched Company's details and links to other resources
        description: This endpoint takes a matchId and returns the details held against the match, as well as links to other resources
        is: [headers.acceptHeader, headers.contentHeader]
        (annotations.scope): "read:organisations-matching"
        securedBy: [ sec.oauth_2_0: { scopes: [ "read:organisations-matching" ] } ]
        headers:
          Authorization:
            description: OAuth 2.0 Bearer Token with the read:individuals-matching scope.
            type: string
            required: true
            example: Bearer <BEARER_TOKEN>
        responses:
          200:
            description: The organisation's details for a given matchId
            body:
              application/json:
                type: !include schemas/matched-company-response.json
                example: !include examples/matched-company-response-example.json
          404:
            body:
              application/json:
                type: types.errorResponse
                examples:
                  NotFound:
                    description: Not Found
                    value:
                      code: NOT_FOUND
  /matching/partnership:
    /:
      post:
        displayName: Submit an Organisation Matching Request For a Partnership
        description: This endpoint takes a JSON body that contains a Partnership's UTR and Known Facts in order to match against HMRC's records. Upon a successful match, a matchId is returned which can be used in subsequent calls.
        is: [headers.acceptHeader, headers.contentHeader]
        (annotations.scope): "read:organisations-matching"
        securedBy: [ sec.oauth_2_0: { scopes: [ "read:organisations-matching" ] } ]
        headers:
          Authorization:
            description: OAuth 2.0 Bearer Token with the read:organisations-matching scope.
            type: string
            required: true
            example: Bearer <BEARER_TOKEN>
          Content-Type:
            description: Specifies the content-type of the body.
            type: string
            required: true
            example: application/json
        body:
          application/json:
            type: !include schemas/partnership-matching-request.json
            example: !include examples/partnership-matching-request-example.json
        responses:
          200:
            description: The available resources to retrieve the matched organisation's details
            body:
              application/json:
                type: !include schemas/partnership-matching-response.json
                example: !include examples/partnership-matching-response-example.json
          400:
            body:
              application/json:
                type: types.errorResponse
                examples:
                  BadRequest:
                    description: The request body does not conform to the schema
                    value:
                      code: BAD_REQUEST
          403:
            body:
              application/json:
                type: types.errorResponse
                examples:
                  Forbidden:
                    description: The organisation's details provided did not match with HMRC's records
                    value:
                      code: MATCHING_FAILED
    /{matchId}:
      uriParameters:
        matchId:
          description: A short-lived UUID, typically valid for several hours
          type: string
          example: 57072660-1df9-4aeb-b4ea-cd2d7f96e430
      get:
        displayName: Retrieve matched Partnership's details and links to other resources
        description: This endpoint takes a matchId and returns the details held against the match, as well as links to other resources
        is: [headers.acceptHeader, headers.contentHeader]
        (annotations.scope): "read:organisations-matching"
        securedBy: [ sec.oauth_2_0: { scopes: [ "read:organisations-matching" ] } ]
        headers:
          Authorization:
            description: OAuth 2.0 Bearer Token with the read:organisations-matching scope.
            type: string
            required: true
            example: Bearer <BEARER_TOKEN>
        responses:
          200:
            description: The organisation's details for a given matchId
            body:
              application/json:
                type: !include schemas/matched-partnership-response.json
                example: !include examples/matched-partnership-response-example.json
          404:
            body:
              application/json:
                type: types.errorResponse
                examples:
                  NotFound:
                    description: Not Found
                    value:
                      code: NOT_FOUND
  /details/company:
    /{matchId}:
      uriParameters:
        matchId:
          description: A short-lived UUID, typically valid for several hours
          type: string
          example: 57072660-1df9-4aeb-b4ea-cd2d7f96e430
      get:
        displayName: Retrieve matched Company's details
        description: This endpoint takes a matchId and returns corporation tax information for the company
        is: [headers.acceptHeader, headers.contentHeader]
        (annotations.scope): "read:organisations-matching"
        securedBy: [ sec.oauth_2_0: { scopes: [ "read:organisations-matching" ] } ]
        headers:
          Authorization:
            description: OAuth 2.0 Bearer Token with the read:organisations-matching scope.
            type: string
            required: true
            example: Bearer <BEARER_TOKEN>
        responses:
          200:
            description: The company's Corporation Tax details
            body:
              application/json:
                type: !include schemas/company-details-response.json
                example: !include examples/company-details-response-example.json
          404:
            body:
              application/json:
                type: types.errorResponse
                examples:
                  NotFound:
                    description: Not Found
                    value:
                      code: NOT_FOUND
  /details/partnership:
    /{matchId}:
      uriParameters:
        matchId:
          description: A short-lived UUID, typically valid for several hours
          type: string
          example: 57072660-1df9-4aeb-b4ea-cd2d7f96e430
      get:
        displayName: Retrieve matched Partnership's details
        description: This endpoint takes a matchId and returns self assessment information for the partnership
        is: [headers.acceptHeader, headers.contentHeader]
        (annotations.scope): "read:organisations-matching"
        securedBy: [ sec.oauth_2_0: { scopes: [ "read:organisations-matching" ] } ]
        headers:
          Authorization:
            description: OAuth 2.0 Bearer Token with the read:organisations-matching scope.
            type: string
            required: true
            example: Bearer <BEARER_TOKEN>
        responses:
          200:
            description: The Partnership's Self Assessment details
            body:
              application/json:
                type: !include schemas/partnership-details-response.json
                example: !include examples/partnership-details-response-example.json
          404:
            body:
              application/json:
                type: types.errorResponse
                examples:
                  NotFound:
                    description: Not Found
                    value:
                      code: NOT_FOUND