#%RAML 1.0
---

title: Organisations Matching
version: 1.0
protocols: [ HTTPS ]
baseUri: https://api.service.hmrc.gov.uk/

documentation:
 - title: Overview
   content: !include docs/overview.md
 - title: Versioning
   content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/versioning.md
 - title: Errors
   content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/errors.md
 - title: Testing
   content: !include docs/testing.md

mediaType: [ application/json, application/hal+json ]

uses:
  sec: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/securitySchemes.raml
  headers: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/headers.raml
  annotations: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/annotations.raml
  types: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/types.raml

/organisations:
  /matching/crn:
    /:
      post:
        displayName: CRN Matching Request
        description: This endpoint takes a JSON body that contains a Company's CRN and Known Facts in order to match against HMRC's records. Upon a successful match, a matchId is returned which can be used in subsequent calls.
        is: [headers.acceptHeader, headers.contentHeader]
        (annotations.scope): "assigned"
        securedBy: [ sec.oauth_2_0: { scopes: [ "assigned" ] } ]
        (annotations.sandboxData): !include sandbox/paye-organisations-matching-request.md
        headers:
          Authorization:
            description: OAuth 2.0 Bearer Token with the read:individuals-matching scope.
            type: string
            required: true
            example: Bearer <BEARER_TOKEN>
          Content-Type:
            description: Specifies the content-type of the body.
            type: string
            required: true
            example: application/json
        body:
          application/json:
            type: !include schemas/crn-matching-request.json
            example: !include examples/crn-matching-request-example.json
        responses:
          200:
            description: Returns a matchId which can be used to make calls to details endpoints
            body:
              application/json:
                type: !include schemas/crn-matching-response.json
                example: !include examples/crn-matching-response-example.json
          400:
            body:
              application/json:
                type: types.errorResponse
                examples:
                  BadRequest:
                    description: The request body does not conform to the schema
                    value:
                      code: BAD_REQUEST
          403:
            body:
              application/json:
                type: types.errorResponse
                examples:
                  Forbidden:
                    description: The organisation's details provided did not match with HMRC's records
                    value:
                      code: MATCHING_FAILED
  /matching/sautr:
    /:
      post:
        displayName: SAUTR Matching Request
        description: This endpoint takes a JSON body that contains a UTR, Organisation Type and Known Facts in order to match against HMRC's records. Upon a successful match, a matchId is returned which can be used in subsequent calls.
        is: [headers.acceptHeader, headers.contentHeader]
        (annotations.scope): "assigned"
        securedBy: [ sec.oauth_2_0: { scopes: [ "assigned" ] } ]
        (annotations.sandboxData): !include sandbox/self-assessment-matching-request.md
        headers:
          Authorization:
            description: OAuth 2.0 Bearer Token with the read:organisations-matching scope.
            type: string
            required: true
            example: Bearer <BEARER_TOKEN>
          Content-Type:
            description: Specifies the content-type of the body.
            type: string
            required: true
            example: application/json
        body:
          application/json:
            type: !include schemas/sautr-matching-request.json
            example: !include examples/sautr-matching-request-example.json
        responses:
          200:
            description: Returns a matchId which can be used to make calls to details endpoints
            body:
              application/json:
                type: !include schemas/sautr-matching-response.json
                example: !include examples/sautr-matching-response-example.json
          400:
            body:
              application/json:
                type: types.errorResponse
                examples:
                  BadRequest:
                    description: The request body does not conform to the schema
                    value:
                      code: BAD_REQUEST
          403:
            body:
              application/json:
                type: types.errorResponse
                examples:
                  Forbidden:
                    description: The organisation's details provided did not match with HMRC's records
                    value:
                      code: MATCHING_FAILED
  /details/crn:
    /{matchId}:
      uriParameters:
        matchId:
          description: A short-lived UUID, typically valid for 5 hours
          type: string
          example: 57072660-1df9-4aeb-b4ea-cd2d7f96e430
      get:
        displayName: CRN Details
        description: This endpoint takes a matchId and returns corporation tax information for the company
        is: [headers.acceptHeader, headers.contentHeader]
        (annotations.scope): "assigned"
        securedBy: [ sec.oauth_2_0: { scopes: [ "assigned" ] } ]
        (annotations.sandboxData): !include sandbox/matched-organisation-details-test-data.md
        headers:
          Authorization:
            description: OAuth 2.0 Bearer Token with the read:organisations-matching scope.
            type: string
            required: true
            example: Bearer <BEARER_TOKEN>
        queryParameters:
          fromYear:
            displayName: From Year
            type: number
            description: The earliest Tax Year from which you would like details
            example: 2017
            required: true
          toYear:
            displayName: To Year
            type: number
            description: The latest Tax Year from which you would like details, if not provided then current year will be used
            example: 2019
            required: false
        responses:
          200:
            description: The company's Corporation Tax details
            body:
              application/json:
                type: !include schemas/crn-details-response.json
                example: !include examples/crn-details-response-example.json
          404:
            body:
              application/json:
                type: types.errorResponse
                examples:
                  NotFound:
                    description: Not Found
                    value:
                      code: NOT_FOUND
  /details/sautr:
    /{matchId}:
      uriParameters:
        matchId:
          description: A short-lived UUID, typically valid for several hours
          type: string
          example: 57072660-1df9-4aeb-b4ea-cd2d7f96e430
      get:
        displayName: SAUTR Details
        description: This endpoint takes a matchId and returns self assessment information for the organisation
        is: [headers.acceptHeader, headers.contentHeader]
        (annotations.scope): "assigned"
        securedBy: [ sec.oauth_2_0: { scopes: [ "assigned" ] } ]
        (annotations.sandboxData): !include sandbox/matched-organisation-details-test-data.md
        headers:
          Authorization:
            description: OAuth 2.0 Bearer Token with the read:organisations-matching scope.
            type: string
            required: true
            example: Bearer <BEARER_TOKEN>
        queryParameters:
          fromYear:
            displayName: From Year
            type: number
            description: The earliest Tax Year from which you would like details
            example: 2017
            required: true
          toYear:
            displayName: To Year
            type: number
            description: The latest Tax Year from which you would like details, if not provided then current year will be used
            example: 2019
            required: false
        responses:
          200:
            description: The Organisation's Self Assessment details
            body:
              application/json:
                type: !include schemas/sautr-details-response.json
                example: !include examples/sautr-details-response-example.json
          404:
            body:
              application/json:
                type: types.errorResponse
                examples:
                  NotFound:
                    description: Not Found
                    value:
                      code: NOT_FOUND